/*
[meta]
	desc =  _('Wide browser')
	type = query_browser_styles
[/meta]
*/
@import url('playlist.css');
@import url('info.css');



#browser_client {
    width: 840px;
    margin: 0px auto;
}

.cc_playlist_item {
	width: 420px;

}

.cc_playlist_pagelink {
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 8px;
    width: 300px;
}

#browser_filter {
    margin: 4px;
}

#browser_area {
    float: left;

}

#filter_controls {
   width: 190px;
   padding-right:5px;
   float: left;
}

#filter_controls select {
    width: 180px;
}


.filterform div {
	margin-bottom: 4px;
}


.close_button {
	display: none;
}

#dyn_filter_editor .cc_autocomp_edit {
	margin: 4px 0px 5px 0px;
}

p.cc_autocomp_picked{
    font-style: italic;
    color: blue;
}
.cc_autocomp_list {
    background-color: #FFF; 
	z-index: 201;
	cursor: pointer;
}

#_ap_stat_tags {
	font-weight: bold;
}

p.cc_autocomp_line {
	margin: 1px;
}

#dyn_filter_editor p.cc_autocomp_selected {
    /* background-color: #CCC; */
}

#dyn_filter_editor p.cc_autocomp_picked {
	font-style: italic;
	background-color: white;
/*	color: blue; */
}

.cc_autocomp_clear {
	text-align: right;
}

.cc_autocomp_show {
	text-align: left;
}

.cc_autocomp_stat {
}

.cc_autocomp_border {
    border-width: 1px;
	border-style: solid;
	/* #666; */
}

.filterform small_button {
	display: block;
	float: left;
	margin-left: 4px;
	margin-bottom: 4px;
}

.filterform span.th  {
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding: 2px 2px 2px 6px;
    font-size: 0.8em;
    display: block;
    font-variant: small-caps;
    letter-spacing: 0.2em;
    text-transform: lowercase;
}

.filterform span.field  {
    float: none;
    display: block;
    margin: 0px;
    padding: 5px 0px 10px 0px;
    width: 100%;
}
#ff_filter_inner {
    margin-bottom: 8px;
    display: block;
}


.filterbuttontray {
    margin-top: 20px;
    text-align: center;
}
