
#user_profile {
	width: 55%;
	margin: 0px auto;
	padding: 5px;
}

.ufc_label {
	text-transform: lowercase;
	letter-spacing: 0.3em;
	display: block;
	text-align: left;
	border-bottom: 1px solid #AAA;
	width: 55%;
	margin-bottom: 0.5em;
}

.ufc_value {
	margin-bottom: 1.6em;
}

.ufc_value,
.ufc_label {
	padding-left: 1.0em;
}

.user_tag_links .taglinks {
	/* padding: 0.2em 3em; */
}


.user_link {
	font-size: 20px;
	font-weight: bold;
}

.ufc {
	margin: 7px 3px;
}


.contact_link {
	margin: 15px 10px;
	display: block;
	font-size: 13px;

}

